This file will be for cleaning the Kaggle dataset

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('FPL/data/players.csv')
df.head()

,id,name,now_cost,position,team,bps,clean_sheets_per_90,saves,starts,form_rank_type,...,expected_goals_conceded,penalties_order,expected_goals,red_cards,selected_by_percent,now_cost_rank_type,expected_goals_conceded_per_90,penalties_saved,threat,points_per_game_rank
0,1,Fábio Ferreira Vieira,55,MID,Arsenal,67,0.31,0,2,190,...,1.83,4.0,1.25,1,0.1,89,0.57,0,85.0,251
1,2,Gabriel Fernando de Jesus,70,FWD,Arsenal,271,0.67,0,17,55,...,11.67,NaN,6.27,0,2.0,13,0.71,0,756.0,144
2,3,Gabriel dos Santos Magalhães,60,DEF,Arsenal,676,0.47,0,34,192,...,26.18,NaN,4.48,0,11.6,6,0.77,0,379.0,43
3,4,Kai Havertz,80,FWD,Arsenal,515,0.55,0,30,66,...,21.03,3.0,12.36,0,14.6,4,0.72,0,1027.0,18
4,5,Karl Hein,40,GKP,Arsenal,0,0.00,0,0,23,...,0.00,NaN,0.00,0,0.2,61,0.00,0,0.0,447

In [7]:
del_columns = set(df.columns) - set(['name', 'now_cost', 'position', 'team', 'total_points'])

df.drop(del_columns, axis=1, inplace=True)
df.head()

                           name  now_cost position     team  total_points
0         Fábio Ferreira Vieira        55      MID  Arsenal            24
1     Gabriel Fernando de Jesus        70      FWD  Arsenal            85
2  Gabriel dos Santos Magalhães        60      DEF  Arsenal           149
3                   Kai Havertz        80      FWD  Arsenal           180
4                     Karl Hein        40      GKP  Arsenal             0

In [8]:
df.rename(columns={'now_cost': 'cost', 'total_points': 'points'}, inplace=True)
df.head()

                           name  cost position     team  points
0         Fábio Ferreira Vieira    55      MID  Arsenal      24
1     Gabriel Fernando de Jesus    70      FWD  Arsenal      85
2  Gabriel dos Santos Magalhães    60      DEF  Arsenal     149
3                   Kai Havertz    80      FWD  Arsenal     180
4                     Karl Hein    40      GKP  Arsenal       0

In [15]:
df_encoded = pd.get_dummies(df, columns=['position', 'team'], dtype=int)
df_encoded.head()

,name,cost,points,position_DEF,position_FWD,position_GKP,position_MID,team_Arsenal,team_Aston Villa,team_Bournemouth,...,team_Leicester,team_Liverpool,team_Man City,team_Man Utd,team_Newcastle,team_Nott'm Forest,team_Southampton,team_Spurs,team_West Ham,team_Wolves
0,Fábio Ferreira Vieira,55,24,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Gabriel Fernando de Jesus,70,85,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Gabriel dos Santos Magalhães,60,149,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Kai Havertz,80,180,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Karl Hein,40,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df_encoded.to_csv('FPL/data/players_cleaned.csv', index=False)